.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  background-color: white;
  display: grid;
  justify-items: center;
}


@media only screen and (max-width: 1200px) {
  .container {
    display: block;
  }
}
